<div style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; margin:auto; color:#333; background-color:#FFF">
  <div style="padding: 20px;">
     Leave Application Request has been <%= @status %> by the user <%= @name%>
  </div>
</div>
